# Hypothesis Testing Homework

__Radoslav Nikolov (rado_niko)__

#### Problem 1. Elderly Women Height

In [2]:
% matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
from scipy.stats import ttest_ind

In [3]:
heights_data = pd.read_table("heights.csv")
heights_data

     Height
0       156
1       163
2       169
3       161
4       154
5       156
6       163
7       164
8       156
9       166
10      177
11      158
12      150
13      164
14      159
15      157
16      166
17      163
18      153
19      161
20      170
21      159
22      170
23      157
24      156
25      156
26      153
27      178
28      161
29      164
..      ...
321     160
322     165
323     156
324     158
325     155
326     168
327     160
328     153
329     163
330     161
331     145
332     161
333     166
334     154
335     147
336     161
337     155
338     158
339     161
340     163
341     157
342     156
343     152
344     156
345     165
346     159
347     170
348     160
349     152
350     153

[351 rows x 1 columns]

In [ ]:
f, (ax1, ax2) =